body {
    background-color: white;
    color: #111827;
    font-family: 'Roboto', sans-serif;
}

.img-absolute {
    position: absolute;
    box-sizing: border-box;
    top: 40vh;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60%; 
    object-fit: cover;
    padding: 3em;
}

.hero-container {
    position: absolute;
    top: 0;
    left: 50%; /* Move the left edge of the container to the center of the screen */
    transform: translateX(-50%); /* Move the container back by half of its own width */
}
.hero-container h1 {
    font-size: 3rem;
    text-align: center; 
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.5em; 
}

.hero-container h2 {
    font-size: 2.5rem;
    text-align: center; 
    margin: 0 auto; 
}

.hero-button-container {
    text-align: center; 
    margin: 0 auto; 
}

.hero-button-container button {
    font-size: 1.75rem;
    margin-right: 0.5em;
    background-color: white;
    cursor: pointer;
    border-color: #7e22ce;
    border-width: 3px; /* Adjust the value as needed */
    border-style: solid;
    color: #7e22ce;
    padding: 0.5em;
}