<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <main>
        <!-- Hero -->
        <section id="hero">
            <div class="hero-container">
                <h1 id="benefits-header">Get the Website you Deserve Without Breaking the Bank.</h1>
                <h2 id="call-to-action">Call to Action</h2>
                <div id="hero-buttons" class="hero-button-container">
                    <button id="call-to-action-btn">I Want a Website</button>
                    <button id="out-process-btn">Our Process</button>
                </div>
            </div>
            <img class="img-absolute" src="../media/heroimage.jpg" alt="image of a laptop">
        </section>
    </main>

</body>
</html>